
/* base styles, feel free to edit */
html, body {
	color: #1ec503;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:center align upload htmlwhite;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

.post {
    max-width: 700px;
    overflow: hidden;
    margin: 30px auto;
    background-color: black;
}

.post-title {
    margin-top: 0px;
    margin-bottom: 10px;
}

.post-published {
	display: inline;
}
.post-image {
    width: 100%;
    height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.post-description_text {
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	word-wrap: break-word;
}
.post-likes {
	padding: 5px 5px 5px 5px;
	position: relative;
	font-weight: bold;
}
.post-comments-count {
	padding: 5px 5px 5px 5px;
	position: relative;
	font-weight: bold;
}

.post-show-comments {
	padding: 1px 1px 1px 1px;
	position: relative;
	font-weight: bold;
}

.post-hide-comments {
	padding: 1px 1px 1px 1px;
	position: relative;
	left: 120px;
	font-weight: bold;
}
.comment-box {
	position: relative;
	width: 97%;
	padding: 5px 5px;
	margin: 10px 20px;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 20px;
	height: 30px;
}

.post-comment {
	position: relative;
	margin: 10px 30px;
	width: 450px;
	display: block;
	word-wrap: break-word;
}

.login-field {
	width: 30%;
	padding: 10px 10px;
	margin: 10px 20px;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
}

.registration-field, .change-field {
	width: 30%;
	padding: 10px 10px;
	margin: 10px 20px;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
}

.navigation-elements {
	display: inline-block;
	padding: 20px 20px 20px 20px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}
.navigation-bar{
	text-align: center;
}

.followUserInput{
	width: 97%;
	padding: 10px 10px;
	margin: 10px 20px;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
}
.search-Username-Btn {
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
}

.followConfirmation-Btn{
	padding: 5px 5px 5px 5px;
	position: relative;
	left: 55px;
	cursor: pointer;
	font-weight: bold;
	font-size: 25px;
}

.upload-file{
	padding: 20px 20px 20px 20px;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}

.submit-Btn{
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
}
.user-Profile-Display{
	text-align: center;
}
.user-Profile-Information {
	display: inline-block;
	padding: 20px 20px 20px 20px;
	font-weight: bold;
	font-size: 18px;
}


.description-field{
	width: 97%;
	padding: 10px 10px;
	margin: 10px 20px;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
}

.confirm-post{
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 25px;
}

.post-text-box{
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	word-wrap: break-word;
}

.editPost{
	display: inline;
}

.center-div {
    max-width: 600px;
    overflow: hidden;
    margin: 30px auto;
    background-color: black;
	text-align:center;
}
.edit-post{
	display: inline-block;
	padding: 0px 0px 0px 20px;
	font-weight: bold;
	cursor: pointer;
}
/* Set a style for all button
https://www.w3schools.com/howto/howto_css_login_form.asp
*/
button {
    background-color: #1ec503;
    color: white;
    padding: 10px 0px;
    margin: 12px 10px;
    border: none;
    cursor: pointer;
    width: 15%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


@media screen and (max-width: 500px) {
    .post {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        border-top: 1px solid rgba(0,0,0,.0975);
        max-height: 60vh;
    }

    .post-image {
        max-width: 100%;
        max-height: 60vh;
    }

    #feed > * {
        flex: 1 1 45%;
        height: auto;
    }
}

/* Add your styles here */
