
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

.post {
    max-width: 640px;
    overflow: hidden;
    margin: 30px auto;
    background-color: black;
}

.post-title {
	color: #1ec503;
    margin-top: 0px;
    margin-bottom: 10px;
	padding: 0px 0px 0px 105px;
}

.post-published {
	color: #1ec503;
	display: inline;
	padding: 0px 0px 0px 105px;
}
.post-image {
    width: 70%;
    height: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.post-description_text {
	color: #1ec503;
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	word-wrap: break-word;
}
.post-likes {
	padding: 5px 5px 5px 5px;
	position: relative;
	left: 90px;
	color: #1ec503;
}
.post-comments {
	padding: 5px 5px 5px 5px;
	position: relative;
    left: 110px;
	color: #1ec503;
}







/* inputs
https://www.w3schools.com/howto/howto_css_login_form.asp
*/
input[type=text], input[type=password], input[type=email] {
    width: 30%;
    padding: 10px 10px;
    margin: 10px 20px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	align-items: center;
}

/* Set a style for all button
https://www.w3schools.com/howto/howto_css_login_form.asp
*/
button {
    background-color: #1ec503;
    color: white;
    padding: 10px 0px;
    margin: 12px 10px;
    border: none;
    cursor: pointer;
    width: 15%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .post {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        border-top: 1px solid rgba(0,0,0,.0975);
        max-height: 60vh;
    }

    .post-image {
        max-width: 100%;
        max-height: 60vh;
    }

    #feed > * {
        flex: 1 1 45%;
        height: auto;
    }
}

/* Add your styles here */
